#main-container {
    place-items: center center;
  }
  
  #sign-in-form {
    max-width: 330px;
  }
  
  .logo {
    width: 150px;
    height: 150px;
  }
  
  .form-control:focus {
    z-index: 5;
  }